@charset 'utf-8';
/*头部开始*/
.hd-head{
	height:30px;
	background: #F4F4F4;
}
/*头部导航*/
.head-nav{
	width:1228px;
	height:30px;
	margin: auto;
}
/*头部导航左边*/
.head-nav .head_left{
	line-height: 28px;
}
.head-nav .head_left a:hover{
	color:#FF4040;
}
/*头部导航右边*/
.head-nav .head_right{
	line-height: 28px;
}
.head-nav .head_right ul li{
float:left;
padding:0 9.5px;
position: relative;
}
.head-nav .head_right ul li.touch{
	
	border-left:1px solid transparent;
	border-right:1px solid transparent;
}
.head-nav .head_right ul li.touch:hover{
	border-left:1px solid #eee;
	border-right:1px solid #eee;
}
.head-nav .head_right ul li.touch:hover .empty {
	display: block;
	border-top-color:#fff;
}
.head-nav .head_right ul li a:hover{
color:#FF4040;
}
.head-nav .head_right ul li .empty{
	width:100%;
	position:absolute;
	left:-1px;
	display: none;
	background: #fff;
	z-index:2;
}
.head-nav .head_right ul li .empty a{
display: block;
text-indent: 10px;
}
.head-nav .head_right ul li.touch .iconfont{
	display: inline-block;
transition:0.5s;
}
.head-nav .head_right ul li.touch:hover .iconfont{
transform: rotate(180deg);
}
/*搜索开始*/
.wrap .hd-search{
	width:1228px;
	height:150px;
	margin:auto;
}
/*搜索logo开始*/
.hd-search h1{
	width:260px;
	height:150px;
}
.hd-search h1 a{
	width:100%;
	height:100%;
	display: block;
	background: url(../images/00-header/1.png) no-repeat center/cover;
}
/*搜索框开始*/
.hd-search .search_box{
	width:915px;
	height:150px;
}
.hd-search .search_box .box_sea{
	padding:25px 10px 20px 0px;
	line-height: 30px;
}
.search_box .search .txt{
	width:650px;
	height:36px;
	text-indent: 10px;
	border:1px solid #ff4040;
}
.search_box .search button{
	width:50px;
	height:38px;
	background: #ff4040;
	outline: none;
}
.search_box .search button i{
	font-size:18px;
	color:#fff;
}
.search_box .search_lis a{
margin-right:20px;
}
.search_box .search_lis a:hover{
color:#ff4040;
}
/*搜索购物车开始*/
.search_box  .shop{
	width:130px;
	height:40px;
	border:1px solid #eee;
	text-align: center;
	line-height: 40px;
	word-spacing: 10px;
	font-size:14px;
	position:relative;
	background: #fff;
	z-index: 1;
}
.search_box  .shop a{
	width:100%;
	height:100%;
	display: block;
	background: #fff;
}
.search_box  .shop .shop_kuan{
	width:386px;
	height:269px;
	border:1px solid #eee;
	position:absolute;
	right:-1px;
	top:39px;
	background: #fff;
	display: none;
	z-index: -1;
	}
	.search_box .shop:hover{
	border-bottom-color: #fff;
	
}
	.search_box  .shop:hover .shop_kuan{
	display: block;
}
	.search_box  .shop .shop_kuan span{
		width:117px;
		height:77px;
		display: block;
		background: url(../images/00-header/2.png) no-repeat -258px -30px;
		margin:45px auto 0;
	}
.search_box  .shop_nav ul li{
	float:left;
	font-size:16px;
	color:#000;
	padding-right:25px;
	}
	/* 底部开始*/

.hd-footer{
	margin-top:50px;
	height: 449px;
	background: #fff;
	}
.footer-wrap{
	width: 1228px; 
	margin:auto;
	}
.foot-top li{
	float:left;
	width: 307px;
	height: 127px;
	text-align:center;
	line-height:127px;
	}
.foot-top li p{
	display: inline-block;
	margin-left:10px;
	line-height:1.5;
	font-size: 14px;
	vertical-align:middle;
	}
.foot-top li p b{
	display: block;
	font-size: 16px;
	text-align:left;
	}
.foot-middle{padding:20px 0;}
.foot-middle .mi-left{
	width: 795px;
	height: 152px;
	}
.foot-middle .mi-left li{
	float:left;
	width:198px;
	height: 100%;
	line-height:24px;
	text-indent:10px;
	}
.foot-middle b{
	display: block;
	font-size: 14px;
	line-height:32px;
	}
.foot-middle .mi-left li a{display: block;}

.foot-middle .mid-rig{
	width: 433px;
	height: 152px;
	}
.foot-middle .mid-rig p{
	float:left;
	margin-right:50px;
	}
.footer-wrap > p{
	margin:10px 0;
	text-align:center;
	word-spacing:10px;
	}
.footer-wrap > p + p{
	word-spacing:0;
	margin-bottom:30px;
	}
.footer-wrap > p > img{
	width: 90px;
	height: 31px;
	margin:0 2px;
	}